<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.buildingaudit">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.buildingaudit.ApplicationController"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuildingAudit"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.buildingaudit.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- ressource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_ArtAndCraft"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsArtAndCraft"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_PrincipalRoom"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsPrincipalRoom"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_FurnitureDetails"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_GirlsToiletDetails"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_BoysToiletDetails"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_BoundryWalls"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_SolarPanel"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_ElectricityArrangment"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_FireFighting"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_RainHarvesting"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_CCTVDetails"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_ComputerLabDetails"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_WifiDetails"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_CycleStand"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_SoundSystemDetails"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_MultipurposeHallDetails"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_SmartClassDetails"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_BioMetricDetails"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_DrinkingWaterDetails"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_LibraryDetails"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_PlaygroundDetails"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_OpenGYmDetails"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_PracticalLabsDetails"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmit_StaffRoomDetails"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.NoInternetConnection"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.OnSubmitClassRoomPage"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsCWSNRamp"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsCCTV"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsCycleStand"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsMultipurposeHall"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsSoundSystem"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsBoundryWall"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.AfterSubmitClassromDetails"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsOfExtraThings"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsGirlsToilet"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsBoysToilet"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsSolarPanel"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsRainHarvest"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsFireFighting"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsElectricityArrangment"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsBioMetric"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsFurnitures"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsComputerlab"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsDrinkingWater"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsSmartClass"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsGym"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsPlayground"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsTypeFour"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdatedetailsTypeThree"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailsTypeTwo"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.Activies.UpdateDetailTypeOne"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.DashBoard"
            android:exported="false" />
        <activity
            android:name="com.example.buildingaudit.MainActivity"
            android:exported="true" />
    </application>

</manifest>