<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bsn.buildingaudit">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuildingAudit"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name="com.bsn.staffAttendance.Date_Wise_Attendance"
            android:exported="false" />
        <activity
            android:name="com.bsn.staffAttendance.Dashboard_StaffAttendance"
            android:exported="false" />
        <activity
            android:name="com.bsn.staffAttendance.UpdateDetails_StaffAttendance"
            android:exported="false" />
        <activity
            android:name=".Principal_Dashboard"
            android:exported="false" />
        <activity
            android:name=".Activies.Final_OTP_Submission"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_Officeroom"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_VocationalRoom"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetails_VocationalEducationRoom"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetails_OfficeRoom"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bsn.buildingaudit.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- ressource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activies.OnSubmit_ArtAndCraft"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsArtAndCraft"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_PrincipalRoom"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsPrincipalRoom"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_FurnitureDetails"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_GirlsToiletDetails"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_BoysToiletDetails"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_BoundryWalls"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_SolarPanel"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_ElectricityArrangment"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_FireFighting"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_RainHarvesting"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_CCTVDetails"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_ComputerLabDetails"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_WifiDetails"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_CycleStand"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_SoundSystemDetails"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_MultipurposeHallDetails"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_SmartClassDetails"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_BioMetricDetails"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_DrinkingWaterDetails"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_LibraryDetails"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_PlaygroundDetails"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_OpenGYmDetails"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_PracticalLabsDetails"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmit_StaffRoomDetails"
            android:exported="false" />
        <activity
            android:name=".Activies.NoInternetConnection"
            android:exported="false" />
        <activity
            android:name=".Activies.OnSubmitClassRoomPage"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsCWSNRamp"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsCCTV"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsCycleStand"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsMultipurposeHall"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsSoundSystem"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsBoundryWall"
            android:exported="false" />
        <activity
            android:name=".Activies.AfterSubmitClassromDetails"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsOfExtraThings"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsGirlsToilet"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsBoysToilet"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsSolarPanel"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsRainHarvest"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsFireFighting"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsElectricityArrangment"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsBioMetric"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsFurnitures"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsComputerlab"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsDrinkingWater"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsSmartClass"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsGym"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsPlayground"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailsTypeFour"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdatedetailsTypeThree"
            android:exported="false" />
        <activity
            android:name=".Activies.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activies.UpdateDetailsTypeTwo"
            android:exported="false" />
        <activity
            android:name=".Activies.UpdateDetailTypeOne"
            android:exported="false" />
        <activity
            android:name=".DashBoard"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>